In [1]:
# Import packages to use
import twint
import numpy as np
import pickle
import pandas as pd
import time
import math
from collections import Counter
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
%matplotlib inline

# Patches asyncio to allow the running of multiple event loops in Jupyter Notebooks.
# Fixes: "RuntimeError: This event loop is already running"
import nest_asyncio

nest_asyncio.apply()
print(pd.__version__)

1.1.3

## Location

In [2]:
def getLocationTweets(location_name):
    c = twint.Config()
    c.Search = location_name
    c.Since = "2019-01-01"
    c.Until = "2019-12-31"
    c.Pandas = True
    c.Hide_output = True
    twint.run.Search(c)

    return twint.storage.panda.Tweets_df

In [17]:
df_santa_coloma = getLocationTweets('\"Santa Coloma de Gramenet\" OR \"Santa Coloma\" OR \"Rambla San Sebastian\"')
pickle.dump(df_santa_coloma, open( "df_santa_coloma.p", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [20]:
df_parque_fluvial = getLocationTweets('\"Parque Fluvial del Besos\" OR \"Parc Fluvial del Besos\" OR \"Fluvial del Besos\"')
pickle.dump(df_parque_fluvial, open( "df_parque_fluvial.p", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [23]:
df_parque_molinet = getLocationTweets('\"Parque Molinet\" OR \"Parc Molinet\" OR \"Molinet\"')
pickle.dump(df_parque_molinet, open( "df_parque_molinet.p", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [25]:
df_plaza_rellotge = getLocationTweets('\"Plaza del Rellotge\" OR \"Pla√ßa del Rellotge\"')
pickle.dump(df_plaza_rellotge, open( "df_plaza_rellotge.p", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [27]:
df_parque_can_zam = getLocationTweets('\"Parque Can Zam\" OR \"Parc Can Zam\" OR \"Can Zam\"')
pickle.dump(df_parque_can_zam, open( "df_parque_can_zam.p", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [29]:
df_instituto_can_peixauet = getLocationTweets('\"Instituto Can Peixauet\" OR \"Institut Can Peixauet\" OR \"Can Peixauet\"')
pickle.dump(df_instituto_can_peixauet, open( "df_instituto_can_peixauet.p", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [30]:
df_parque_gran_sol = getLocationTweets('\"Parque Gran Sol\" OR \"Parc Gran Sol\" OR \"Gran Sol\"')
pickle.dump(df_parque_gran_sol, open( "df_parque_gran_sol.p", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [31]:
df_escuela_tanit = getLocationTweets('\"Escuela Tanit\" OR \"Escola Tanit\"')
pickle.dump(df_escuela_tanit, open( "df_escuela_tanit.p", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [33]:
df_instituto_terra_roja = getLocationTweets('\"Instituto Terra Roja\" OR \"Institut Terra Roja\" OR \"Terra Roja\"')
pickle.dump(df_instituto_terra_roja, open( "df_instituto_terra_roja.p", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [35]:
df_instituto_gassol = getLocationTweets('\"Instituto Gassol\" OR \"Institut Gassol\"')
pickle.dump(df_instituto_gassol, open( "df_instituto_gassol.p", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [40]:
df_CAP = getLocationTweets('\"CAP Santa Rosa\"')
pickle.dump(df_CAP, open( "df_CAP.p", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [41]:
df_del_fondo = getLocationTweets('\"Mercado del Fondo\" OR \"Mercat del Fondo\" OR \"del Fondo\"')
pickle.dump(df_del_fondo, open( "df_del_fondo.p", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [42]:
df_cinto = getLocationTweets('\"Cinto Verdaguer\"')
pickle.dump(df_cinto, open( "df_cinto", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [43]:
df_nus_trinitat = getLocationTweets('\"Nus de la Trinitat\"')
pickle.dump(df_nus_trinitat, open( "df_nus_trinitat", "wb" ) )

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [7]:
df_santa_coloma = pickle.load(open("df_santa_coloma.p", "rb"))
df_parque_fluvial = pickle.load(open("df_parque_fluvial.p", "rb"))
df_parque_molinet = pickle.load(open("df_parque_molinet.p", "rb"))
df_plaza_rellotge = pickle.load(open("df_plaza_rellotge.p", "rb"))
df_parque_can_zam = pickle.load(open("df_parque_can_zam.p", "rb"))
df_instituto_can_peixauet = pickle.load(open("df_instituto_can_peixauet.p", "rb"))
df_parque_gran_sol = pickle.load(open("df_parque_gran_sol.p", "rb"))
df_escuela_tanit = pickle.load(open("df_escuela_tanit.p", "rb"))
df_instituto_terra_roja = pickle.load(open("df_instituto_terra_roja.p", "rb"))
df_instituto_gassol = pickle.load(open("df_instituto_gassol.p", "rb"))
df_CAP = pickle.load(open("df_CAP.p", "rb"))
df_del_fondo = pickle.load(open("df_del_fondo.p", "rb"))
df_cinto = pickle.load(open("df_cinto", "rb"))
df_nus_trinitat = pickle.load(open("df_nus_trinitat", "rb"))

## Collect stats

In [13]:
def changeTimezone(df):
    df["times"] = df["date"] + df["timezone"]
    df["times"] = pd.to_datetime(df["times"], format="%Y-%m-%d %H:%M:%S%z")
    df["times"] = df["times"].dt.tz_convert("Europe/Madrid")
    
    df["weekday"] = df["times"].dt.dayofweek
    
    return df

In [16]:
changeTimezone(df_del_fondo)[["times", "weekday"]].iloc[400:600]

                        times  weekday
400 2019-12-29 02:42:47+01:00        6
401 2019-12-29 02:42:21+01:00        6
402 2019-12-29 02:41:54+01:00        6
403 2019-12-29 02:40:07+01:00        6
404 2019-12-29 02:37:32+01:00        6
..                        ...      ...
595 2019-12-28 17:14:01+01:00        5
596 2019-12-28 17:11:33+01:00        5
597 2019-12-28 17:09:58+01:00        5
598 2019-12-28 17:07:38+01:00        5
599 2019-12-28 17:04:22+01:00        5

[200 rows x 2 columns]

In [32]:
def getStats(df):
    stats = dict()
    sample_size = len(df)
    
    df = changeTimezone(df)
    
    stats["size"] = sample_size
    lang_counts = Counter(df["language"])
    for k,v in lang_counts.items():
        proportion = v / sample_size
        raw_and_proportion = str(v) + " " + str(proportion)
        lang_counts[k] = raw_and_proportion
    stats["language"] = dict(lang_counts)
    
    days_counts = Counter(df["weekday"])
    days = dict()
    days["weekends"] = days_counts[5] + days_counts[6]
    days["weekdays"] = days_counts[0] + days_counts[1] + days_counts[2] + days_counts[3] + days_counts[4]
    
    total_days = (int(days["weekends"]) + int(days["weekdays"]))
    for k,v in days.items():
        proportion = v / total_days
        raw_and_proportion = str(v) + " " + str(proportion)
        days[k] = raw_and_proportion
    stats["days"] = days
    
    return stats

In [33]:
getStats(df_santa_coloma)

25895

{'size': 25895,
 'language': {'ca': '12993 0.5017570959644719',
  'pt': '220 0.008495848619424599',
  'es': '11315 0.436956941494497',
  'ja': '162 0.006256033983394478',
  'fr': '109 0.004209306815987642',
  'en': '459 0.017725429619617688',
  'bn': '1 3.861749372465727e-05',
  'tl': '3 0.0001158524811739718',
  'in': '67 0.002587372079552037',
  'it': '169 0.006526356439467079',
  'lt': '4 0.00015446997489862907',
  'no': '12 0.0004634099246958872',
  'cs': '10 0.0003861749372465727',
  'und': '61 0.0023556671172040933',
  'ro': '75 0.0028963120293492954',
  'tr': '42 0.0016219347364356054',
  'et': '13 0.0005020274184205445',
  'ht': '9 0.00034755744352191545',
  'sv': '10 0.0003861749372465727',
  'nl': '20 0.0007723498744931454',
  'ar': '1 3.861749372465727e-05',
  'de': '8 0.00030893994979725814',
  'pl': '67 0.002587372079552037',
  'vi': '9 0.00034755744352191545',
  'fi': '25 0.0009654373431164317',
  'lv': '2 7.723498744931454e-05',
  'da': '12 0.0004634099246958872',
  'hu': '5 0.00019308746862328635',
  'sl': '4 0.00015446997489862907',
  'cy': '4 0.00015446997489862907',
  'eu': '3 0.0001158524811739718',
  'zh': '1 3.861749372465727e-05'},
 'days': {'weekends': '7230 0.2792044796292721',
  'weekdays': '18665 0.7207955203707279'}}

In [116]:
df_del_fondo[["username", "tweet", "id", "date", "timezone"]].head()

,username,tweet,id,date,timezone
0,LizRiver530,@Nestorosp üòÜ eso salio del fondo de tu coraz√≥n...,1211436548408979458,2019-12-29 18:59:15,-0500
1,Jerrydady,@mario_dico50 Pero si ahorraron 290 MMDP seg√∫n...,1211436296989790209,2019-12-29 18:58:15,-0500
2,NicoAL1901,@Rdiego05 @ppenalozal @kioshikubo1924 @JeanMis...,1211436082874765313,2019-12-29 18:57:24,-0500
3,Presyisoff,@SuckMyKhezu Te iba a preguntar qui√©n era ese ...,1211435985818529792,2019-12-29 18:57:01,-0500
4,elsoldepuebla1,#√öLTIMAHORA Rescatan a hombre del fondo de bar...,1211435478781550592,2019-12-29 18:55:00,-0500